@import-normalize;

:root {
  --white: #FFFFFF;
  --white-off: #F7F7F7;
  --grey-main: #898989;
  --grey-mid: #898998;
  --grey-light: #EEEEEE;

  --primary-main: #195A7C;
  --primary-tint: #51B2E2;

  --accent-main: #38997B;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--grey-main);
}

.cryptotracker {
  text-align: center;
}
